

<ion-view title="Falak" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 143px;"></div>
    <form id="falak-form7" class="list">
      <label class="item item-input emailInput" id="falak-input6">
        <span class="input-label">Email</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input passwordInput" id="falak-input7">
        <span class="input-label">Password</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="falak-button1" class="button button-balanced  button-block loginButton">Login</button>
    <a href="#page2" style="text-decoration:none"><h5 id="falak-heading2" style="color:#000000;font-weight:400;text-align:center;" class="signupButton">Don't have an account? Sign up</h5></a>
  </ion-content>
</ion-view>