<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

<style>
ul.rating li {
  display: inline;
  background: none;
  padding: 5px 10px;
 }
ul.rating li i {
  font-size: 30px;
}

.reviewStars{
  font-size: 17px;
}
 
</style>



<body>
  <ion-view style=" text-align:left; font-family:'Ubuntu', sans-serif;" title="Dish Information" id="page9">
    <ion-nav-bar class="bar-balanced">

      <ion-tabs class="tabs-default tabs-icon-top">
        <ion-tab title="Dish" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
          <ion-view>
          <ion-content>
            <div class = "row" style="">
              <div class ="col col-100"><img ng-src="{{imageUrl}}" width="100%" height="100%"></div>
            </div>

            <div clas ="row">
             <div class ="col col-100">
                <h5 style=" text-align:left; font-family:'Ubuntu', sans-serif;" id="page-heading1" style="color:#000000;">Dish Name: {{name}}</h5>
                <h5 style=" text-align:left; font-family:'Ubuntu', sans-serif;" id="page-heading1" style="color:#000000;">Price: {{price}}</h5>
             </div>
            </div>

            <div class ="row">
              <div class="col col-10"><i class ="icon ion-ios-heart-outline" style="font-size:30px;color:red;"></i> </div>&nbsp&nbsp
              <div class ="col col- 90"> <rating readonly="readOnly" ng-model="rating.rate" max="5"></rating></div>
            </div>
 
          </ion-content>
          </ion-view>
          <!-- Tab 1 content -->
        </ion-tab>

        <ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
          <!-- Tab 2 content -->
        </ion-tab>

        <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
          <!-- Tab 3 content -->
        </ion-tab>

      </ion-tabs>
    </ion-nav-bar>
  </ion-view>
</body>
 
